{% extends 'base.html.twig' %}

{% block sidebar %}
    <div class="left-sidebar border me-4 p-3">
        <h1>Categories</h1>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{{ path('show_questions')}}?category_id={{ category.id }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block body %}
    <div class="container border pt-5 d-flex align-items-start">

        <div class="d-flex flex-column justify-content-between align-items-center border w-100">
            <div class="d-flex justify-content-between  align-items-center w-100 p-3">
                <h1>All Questions</h1>
                <a href="{{ path('new_question') }}" class="btn btn-primary">Ask Question</a>
            </div>

            {% set currentDate = date('now') %}
            {% set currentYear = currentDate|date('Y') %}
            <div class="question-container w-100 mt-3 p-2">
                {% for question in questions %}
                    {% set createdYear = question.createdAt|date('Y') %}
                    <div class="question-card p-4">
                        <div class="q-header">
                            <div class="q-user">
                                <div class="avatar me-3">
                                    {% if question.user.userImg %}
                                        <img src="{{ asset(question.user.getUserImg()) }}" alt="">
                                    {% else %}
                                    <i class="fa-solid fa-user"></i>
                                    {% endif %}
                                </div>
                                <div>
                                    <p class="m-0 fs-lg fw-bold">{{ question.user.username }}</p>
                                    {% if currentYear == createdYear %}
                                        <span>{{ question.createdAt|date("d M") }}</span>
                                    {% else %}
                                        <span>{{ question.createdAt|date("d M Y") }}</span>
                                    {% endif%}
                                </div>
                            </div>
                        </div>

                        <div class="q-body mt-2">
                            <div class="q-title fs-lg fw-bold">
                                <a href="{{ path('show_question', {id: question.id}) }}">
                                    {{ question.title }}
                                </a>
                            </div>
                            <div class="q-content">
                                <p class="text-truncate" style="max-width:550px">{{ question.content|raw }}</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}