{% extends 'base.html.twig' %}

{% block sidebar %}
    <div class="left-sidebar px-2">
        <h2>Категории</h2>
        <ul class="list-group list-group-flush mt-4">
            <li class="list-group-item  list-group-item-action">
                <a href="{{ path('show_questions') }}">Всички въпроси</a>
            </li>
            {% for category in categories %}
                <li class="list-group-item  list-group-item-action">
                    <a href="{{ path('show_questions') }}?category_id={{ category.getId()}}">{{ category.getName() }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block main %}
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col col-h-md d-flex align-items-center">

                    {% if category  %}
                        <h2>{{ category.getName() }}</h2>
                    {% else %}
                        <h2>Всички въпроси</h2>
                    {% endif %}
                </div>
                <div class="col-3 col-h-md d-flex align-items-center justify-content-end">
                    <a href="{{ path('new_question') }}" class="btn purple">Задай въпрос</a>
                </div>
            </div>
        </div>
    </div>


    {# Questions area #}

    {% set currentDate = date('now') %}
    {% set currentYear = currentDate|date('Y') %}

    <div class="row mt-4">
        <div class="col ">
            {% for question in questions %}
                {% set createdYear = question.createdAt|date('Y') %}
                <a href="{{ path('show_question', {id: question.id}) }}" class="question">
                    <div class="card border-0 p-3">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <div class="avatar">
                                        {% if question.user.userImg %}
                                            <img src="{{ asset(question.user.getUserImg()) }}" alt="">
                                        {% else %}
                                            <div class="d-flex justify-content-center align-items-center border rounded-circle" style="width:44px;height:44px">
                                                <i class="fa-solid fa-user"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="ms-3">
                                        <h6>{{ question.user.firstName }} {{ question.user.lastName  }}</h6>
                                    </div>
                                </div>
                                <div>
                                    {% if currentYear == createdYear %}
                                        <span>{{ question.createdAt|date("d M") }}</span>
                                    {% else %}
                                        <span>{{ question.createdAt|date("d M Y") }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-overflow-1">{{ question.title }}</h5>
                            <div class="text-overflow-2">
                                {{ question.content|raw }}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="navigation">
                {{ knp_pagination_render(questions) }}
            </div>
        </div>
    </div>
    {# Questions area #}

{% endblock %}

