{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-5 d-flex flex-column align-items-center">
                <h1 class="mb-4">Регистрация</h1>
                <div class="card rounded-4 p-3 w-100">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="mb-3">
                            <label for="fName" class="form-label">Име <span class="text-danger fw-bold">*</span></label>
                            <input type="text" class="form-control" id="fName" name="{{ field_name(form.firstName) }}">
                        </div>
                        <div class="mb-3">
                            <label for="lName" class="form-label">Фамилия <span
                                        class="text-danger fw-bold">*</span></label>
                            <input type="text" class="form-control" id="lName" name="{{ field_name(form.lastName) }}">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Е-мейл <span
                                        class="text-danger fw-bold">*</span></label>
                            <input type="email" class="form-control" id="email" name="{{ field_name(form.email) }}">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Парола <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" name="{{ field_name(form.password.first) }}">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Потвърди паролата <span
                                        class="text-danger">*</span></label>
                            <input type="password" class="form-control" name="{{ field_name(form.password.second) }}">
                            <span class="text-danger">{{ form_errors(form.password.first) }}</span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100 my-2">Регистрация</button>
                        </div>
                        {{ form_end(form) }}

                        <div class="mb-3 text-center">
                            <p>Вече имате акаунт? <a href="{{ path('user_login') }}">Вход</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

