{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info flash-notice">
            {{ message }}
        </div>
    {% endfor %}


    <div class="container d-flex flex-column justify-content-end py-3 border">
        <div class="p-2">
            <div class="my-3">
                <h4>{{ question.title }}</h4>
            </div>
            <div class="mb-3">
                <textarea name="" id="summernote2" readonly="true">{{ question.content }}</textarea>
            </div>
        </div>

        <div class="container">
            <div class="my-3">
                <h4>Answers</h4>
            </div>

            {% for answer in answers %}
                <div class="answer-container w-100 mt-3 p-2">
                        <div class="answer-card p-4">
                            <div class="a-header">
                                <div class="q-user">
                                    <div class="avatar me-3">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                    <div>
                                        <p class="m-0 fs-lg fw-bold">{{ answer.user.username }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="a-body mt-2">
                                <div class="a-content">
                                    <p>{{ answer.content|raw }}</p>
                                </div>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>

        <div class="p-2">
            {{ form_start(answer_form) }}
            <div class="mb-3">
                <h4>Your Answer</h4>
            </div>
            <div class="mb-3">
                <textarea name="{{ field_name(answer_form.content) }}" id="summernote" required></textarea>
            </div>
            <div class="mb-3">
{#                name="{{ field_name(answer_form.submit) }}#}
                {% if app.user %}
                <button class="btn btn-primary" >Ask</button>
                {% else %}
                <button type="submit" class="btn btn-primary"  disabled>Ask</button>
                {% endif %}
            </div>
            {{ form_end(answer_form) }}
        </div>
    </div>


{% endblock %}


