{% extends 'base.html.twig' %}



{% block body %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-5 d-flex flex-column align-items-center">
                <h1 class="mb-4">Промяна на паролата</h1>
                <div class="card rounded-4 p-3 w-100">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="mb-3">
                            <label for="currentPass" class="form-label">Текуща парола</label>
                            <input type="password" class="form-control" id="currentPass" name="{{ field_name(form.currentPassword) }}">
                        </div>
                        <div class="mb-3">
                            <label for="newtPass" class="form-label">Нова парола</label>
                            <input type="password" class="form-control" id="newPass" name="{{ field_name(form.newPassword.first) }}">
                        </div>
                        <div class="mb-3">
                            <label for="currentPass" class="form-label">Потвърди паролата</label>
                            <input type="password" class="form-control" id="currentPass" name="{{ field_name(form.newPassword.second) }}">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-dark w-100 my-2"><i class="fa-solid fa-user-pen me-1"></i> Редактирай</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}